.border-radius {
  border-radius: 3px;
}

.container {
  width: 100%;
  max-width: 1200px;
  display: block;
  padding: 32pt 32pt;
  margin: auto;
}

.prd-container {
  width: 100%;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

*, *::before, *::after, input, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 100%;
  font-family: "Chocolates", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

fieldset, h1, h2, h3, h4, h5, h6 {
  color: #252525;
}

.hero, h1, h2, h3, h4, h5, h6 {
  color: #252525;
  font-weight: 700;
  margin-bottom: 8pt;
}

h1 {
  font-size: 48px;
  line-height: 42px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

.hl {
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a {
  color: #007CEC;
  text-decoration: none;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  color: #4d4d4d;
  margin-bottom: 8pt;
}

small {
  display: block;
  font-weight: 200;
}

h1 small {
  font-size: 23px !important;
}

h2 small {
  font-size: 20px !important;
  line-height: 25px;
}

h3 small {
  font-size: 17px !important;
}

h4 small {
  font-size: 14px !important;
}

.button-group-flex {
  display: flex;
  -webkit-display: flex;
  flex-position: row;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 9px 25px;
  cursor: pointer;
  background-color: #E0E0E0;
  border: 1px solid #E0E0E0;
  color: #9E9E9E;
  border-radius: 3px;
}
.btn-icon {
  display: flex;
  align-items: center;
}
.btn-icon a {
  display: flex;
  align-items: center;
  color: #F5F5F5;
}
.btn-icon .feather {
  height: 16px;
}
.btn-primary {
  background-color: #8D1E61;
  border-color: #8D1E61;
  color: white;
  transition: 0.3s all ease;
}
.btn-primary:hover {
  background-color: #b7277e;
  border-color: #b7277e;
}
.btn-primary:active {
  background-color: #631544;
}
.btn-secondary {
  background: none;
  border-color: #0a0067;
  color: #0a0067;
}
.btn-sidenav {
  padding: 9px 9px;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 22px;
}

.btn-sidenav {
  display: none;
}
.btn-sidenav .fa-ellipsis-v {
  color: #8D1E61;
}

.no-line {
  background: #050034 !important;
  color: white;
  transition: 0.3s ease;
}
.no-line:hover {
  background: #0a0067 !important;
}

.close-btn {
  position: absolute;
  line-height: 0;
  border-radius: 3px;
  background-color: rgba(141, 30, 97, 0);
  top: 0;
  right: 25px;
  margin-top: 25px;
  margin-left: 50px;
  padding: 9px 10px;
  cursor: pointer;
  border: none;
  font-size: 25px;
  color: white;
  transition: 0.3s;
}
.close-btn:hover {
  background-color: #8D1E61;
}

.card {
  width: 270px;
  border-radius: 3px;
  background: #F4F5F5;
  margin: 25px auto;
  align-self: flex-start !important;
}
.card-header {
  width: 100%;
}
.card-header img {
  display: block;
  width: 100%;
  padding: 20px;
}
.card-body {
  display: block;
  padding-left: 8pt;
  padding-top: 8pt;
  padding-right: 8pt;
  padding-bottom: 8pt;
}
.card-footer {
  padding-left: 8pt;
  padding-top: 8pt;
  padding-right: 8pt;
  padding-bottom: 8pt;
  display: block;
}
.card-table, .card tr, .card th, .card td {
  width: 100%;
}
.card-table th, .card tr th, .card th th, .card td th {
  text-align: left;
  color: #252525;
  font-weight: 500;
  width: 50%;
}
.card-table td, .card tr td, .card th td, .card td td {
  text-align: right;
  color: #808080;
}

@media screen and (max-width: 1200px) {
  .card {
    width: 350px;
  }
}
@media screen and (max-width: 800px) {
  .card {
    width: 500px;
  }
  .card .btn {
    display: inline-block;
    width: 48% !important;
  }
}
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.fieldset {
  border: none;
  padding: 8pt;
  width: 500px;
  margin: auto;
}
.fieldset .btn {
  display: block;
  margin-top: 8pt;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.legend {
  font-size: 32px;
  text-align: center;
}

.input {
  border-radius: 3px;
  border: 1px solid #E0E0E0;
  font-size: 16px;
  padding: 8pt;
  display: block;
  width: 100% !important;
  caret-color: #0c0081;
  color: #0c0081;
  margin-top: 8pt;
  margin-left: auto;
  margin-right: auto;
}
.input:focus {
  outline: 1px solid #007CEC;
}

@media screen and (max-width: 504px) {
  .fieldset {
    width: 450px !important;
  }
}
.jumbotron {
  display: flex;
  padding: 20px 30px;
  align-items: center;
  background: #8D1E61;
  border-radius: 10px;
  height: 500px;
}

.jumbotron .jumbo-container {
  width: 560px;
}

.jumbotron h1 {
  font-size: 45pt;
  margin-bottom: 8pt;
  line-height: 40pt;
}
.jumbotron h1, 
.jumbotron h2, 
.jumbotron h3, 
.jumbotron h4, 
.jumbotron h5, 
.jumbotron h6, 
.jumbotron p, 
.jumbotron th, 
.jumbotron td, 
.jumbotron table {
  color: white;
}
.jumbotron .no-line {
  background-color: white !important;
  color: #050034 !important;
  border-color: white !important;
}
.jumbotron .no-line:hover {
  box-shadow: 0 1px 15px rgba(37, 37, 37, 0.6);
}
.jumbotron .no-line:active {
  box-shadow: inset 0 1px 3px rgba(37, 37, 37, 0.6);
  color: #8D1E61 !important;
}

@media screen and (max-width: 504px) {
  .jumbotron .jumbo-container {
    text-align: center;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #F4F5F5;
}
.navbar .logo {
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.navbar .nav {
  list-style: none;
  display: flex;
}
.navbar .nav li {
  display: inline-block;
}
.navbar .nav a {
  display: block;
  transition: 0.3s all ease;
  color: #252525;
  font-size: 18px;
  font-weight: 300;
  padding: 10px 10px;
}

@media screen and (max-width: 860px) {
  .navbar .d-menu {
    display: none;
  }

  .btn-sidenav {
    display: block;
  }

  .menu {
    display: block;
  }

  .btn-login {
    display: none;
  }
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #323232;
  overflow-x: hidden;
  transition: 0.5s;
}
.sidenav .nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.sidenav .nav .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 22px;
  color: white;
  display: block;
  transition: 0.3s;
  background: rgba(141, 30, 97, 0);
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.sidenav a:hover {
  background-color: #8D1E61;
}

.spinner-animation {
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
